.venv/
terraform.tfstate
terraform.tfstate.backup
.terraform/** */
.terraform.lock.hcl
.terraform.lock.hcl.backup
.DS_Store
terraform/.terraform/**
**/metastore_db/**
derby.log
spark-warehouse

# Test artifacts
.pytest_cache/
htmlcov/
.coverage
*.pyc
__pycache__/
*.py[cod]
*$py.class
.tox/
.hypothesis/
.vscode/