version: "3"

services:
  glue-pyspark:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: glue-pyspark-poc
    image: my-glue-pyspark
    volumes:
      # - .venv:/app/.venv
      - ./plain:/app/plain
      - ./purchase_order:/app/purchase_order
    ports:
      - "18080:18080"
    environment:
      AWS_ACCESS_KEY_ID: "test"
      AWS_SECRET_ACCESS_KEY: "test"
      AWS_REGION: "us-east-1"
      ### Settings to enable logging of spark history logs
      # SPARK_HISTORY_OPTS: "-Dspark.history.ui.port=18080 -Dspark.history.retainedApplications=5 -Dspark.history.fs.logDirectory=/tmp/spark-events"
    stdin_open: true # Keep STDIN open
    tty: true
    depends_on:
      - kafka
      - iceberg
      - localstack
    networks:
      - localstack
      - kafka-net

  jupyterlab:
    image: my-glue-pyspark
    container_name: jupterlab-poc
    environment:
      AWS_ACCESS_KEY_ID: "test"
      AWS_SECRET_ACCESS_KEY: "test"
      AWS_REGION: "us-east-1"
      DISABLE_SSL: true
    command:
      [
        "/home/glue_user/jupyter/jupyter_start.sh",
        "--ip=0.0.0.0",
        "--no-browser",
        "--allow-root",
        "--NotebookApp.token=test",
        "--NotebookApp.allow_origin=*",
        "--NotebookApp.base_url=http://localhost:8888",
        "--NotebookApp.token_expire_in=36",
      ]
    ports:
      - 8888:8888
    depends_on:
      - glue-pyspark
    volumes_from:
      - glue-pyspark
    networks:
      - localstack
      - kafka-net

  localstack:
    image: localstack/localstack
    environment:
      - SERVICES=dynamodb,s3,cloudwatch,logs,iam,sts,lambda,glue
      - DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - DEBUG=1
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    networks:
      - localstack

  kafka:
    image: confluentinc/cp-kafka:7.4.0 # or 7.3.0
    ports:
      - 29092:29092
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
    depends_on:
      - zookeeper
    networks:
      - kafka-net

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - kafka-net

  iceberg:
    image: tabulario/spark-iceberg:latest
    networks:
      - kafka-net

networks:
  localstack:
    driver: bridge
  kafka-net:
