# TODO : Add support for Metastore DB Integration
version: '3'

services:
  glue-pyspark:
    build: .
    volumes:
      - ./src:/app/src
    environment:
      AWS_ACCESS_KEY_ID: "test"
      AWS_SECRET_ACCESS_KEY: "test"
      AWS_REGION: "us-east-1"
      SPARK_EXTRA_CLASSPATH: "/opt/spark/jars/*"
      SPARK_SUBMIT_OPTIONS: "--jars /opt/spark/jars/spark-sql-kafka-0-10_2.12-3.1.2.jar,/opt/spark/jars/kafka-clients-2.8.0.jar,/opt/spark/jars/iceberg-spark-runtime-3.3_2.12-0.14.0.jar"
      ICEBERG_CATALOG_TYPE: "hadoop"
      ICEBERG_CATALOG_WAREHOUSE: "s3a://iceberg/warehouse"  
      ICEBERG_S3_IMPL: "org.apache.hadoop.fs.s3a.S3AFileSystem"
      ICEBERG_S3_ENDPOINT: "http://localstack:4566"
      ICEBERG_S3_ACCESS_KEY: "test"
      ICEBERG_S3_SECRET_KEY: "test"
      DERBY_SYSTEM_HOME: /tmp/hive/metastore_$(date +%s)_$$
    tty: true
    depends_on:
      - kafka
      - iceberg
      - localstack
    networks:
      - localstack
      - kafka-net

  # metastore-db: - todo
  #   image: mysql:5.7
  #   environment:
  #     MYSQL_ROOT_PASSWORD: root_password
  #     MYSQL_DATABASE: metastore
  #   networks:
  #     - hive-metastore
  #   ports:
  #     - "3306:3306"

  localstack:
    image: localstack/localstack
    environment:
      - SERVICES=dynamodb,s3
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - DEBUG=1
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    networks:
      - localstack

  kafka:
    image: confluentinc/cp-kafka:latest
    ports:
      - 29092:29092
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
    depends_on:
      - zookeeper
    networks:
      - kafka-net

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - kafka-net

  iceberg:
    image: tabulario/spark-iceberg:latest
    networks:
      - kafka-net

networks:
  localstack:
  kafka-net:
